
.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__logo-image {
    height: 105px;
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    line-height: 1.2;
}

.header__link_active {
    text-decoration: none;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    justify-self: end;
    max-width: 240px;
}

.overlay {
    position: absolute;
    background-color: #00000060;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
}

.cover {
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.cover__title {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    margin-top: 20px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
}

.cover__description-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 18px;
}

.bet-button {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
}



