.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    height: 100%;
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}


.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header__link_active {
    border: none;  
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
}

.address-decor {
    text-decoration: none;
    border-bottom: 1px solid #000;
}


.header__address {
    justify-self: end;
    max-width: 240px;
}

.overlay {
    position: absolute;
    background-color: #00000060;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
}

.cover {
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.cover__title {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    margin-top: 20px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
}

.cover__description-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 18px;
}

.bet-button {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
}

.lots {
    margin: 180px 24px 0;
}

.lots__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
    margin-left: 40px;
}

.lots__card-list {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 0;
    
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
}

.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

.about {
    margin: 120px 24px 0;
    display: grid;
    grid-template-columns: 359px 1fr;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin: 35px 72px 320px 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    padding: 133px 0 0;
}

.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
}

.footer {
    margin-top: 180px;
    padding: 0 50px 82px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__address {
    width: 265px;
}

.footer__menu-list {
    display: flex;
    min-width: 164px;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
}

.footer__menu-link {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    border: none;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    gap: 48px;
    justify-self: end;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    height: 100%;
}





















